<div class="container-fluid">
  <div class="row justify-content-center mt-5 ">
    <div class="col-lg-6">
      <div class="card px-5 py-5 shadow rounded border-0">
        <div class="row text-center">
          <h1>Inicio de sesion</h1>
        </div>        
        <form [formGroup]="userForm" autocomplete="off">
          <div class="row mb-3">
            <label for="exampleFormControlInput1" class="form-label px-0">Usuario</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="username"
              placeholder="ejemplo : pepito001">
            <ng-container
              *ngIf="usernameFormControl?.invalid && (usernameFormControl?.dirty || usernameFormControl?.touched)">
              <div class="text-danger p-2" *ngIf="usernameFormControl?.errors">
                <div *ngIf="usernameFormControl?.errors?.['required']">
                  Este campo es requerido.
                </div>
              </div>
            </ng-container>
          </div>
          <div class="row mb-3">
            <label for="exampleFormControlInput1" class="form-label px-0">Contraseña</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" formControlName="password"
              placeholder="***********">
            <ng-container
              *ngIf="passwordFormControl?.invalid && (passwordFormControl?.dirty || passwordFormControl?.touched)">
              <div class="text-danger p-2" *ngIf="passwordFormControl?.errors">
                <div *ngIf="passwordFormControl?.errors?.['required']">
                  Este campo es requerido.
                </div>
              </div>
            </ng-container>
          </div>

          <div class="row ">
            <button type="button" [disabled]="!userForm.valid" (click)="login()" class="btn btn-success py-2">Ingresar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>