.focus-menu-item {
    color: white !important;
}

.nav-item {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin-right: 10px;
}

.nav-link:focus {
    border-bottom: 2px solid #D81736;
    width: auto;
}

.text-profile {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin-left: 8px;
}

.circle {   
    border-radius: 51%;
    width: 63px;
    height: 63px;
}
